#event-title {
    text-align: center;
}

#event-details p strong {
    color: var(--text-color);
}

/* Блок с кнопками действий */
.actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.btn {
    margin-bottom: 10px;
}

.btn:last-child {
    margin-bottom: 0;
}

.btn.danger {
    background-color: var(--delete-button-background-color);
    color: var(--button-text-color);
}

.btn.danger:hover {
    background-color: var(--delete-button-hover-color);
    color: var(--button-text-color);
}